<f:layout name="HeaderContentFooter" />

<f:section name="content">
	<f:if condition="{data.table.data}">
		<table class="ce-table">
			<f:if condition="{data.table.caption}">
				<caption>{data.table.caption}</caption>
			</f:if>
			<f:for each="{data.table.data}" as="row" iteration="rowIterator">

				<f:if condition="{rowIterator.isFirst}">
					<f:then>
						<f:if condition="{data.table.headerPosition} == 'top'">
							<f:then>
								<thead>
							</f:then>
							<f:else>
								<tbody>
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						<f:if condition="{rowIterator.isLast}">
							<f:if condition="{data.table.useFooter}">
								</tbody>
								<tfoot>
							</f:if>
						</f:if>
					</f:else>
				</f:if>

				<tr>
					<f:for each="{row}" as="cell" iteration="columnIterator">
						<f:render partial="Table/Columns" arguments="{_all}" />
					</f:for>
				</tr>

				<f:if condition="{rowIterator.isFirst}">
					<f:then>
						<f:if condition="{data.table.headerPosition} == 'top'">
							</thead>
							<tbody>
						</f:if>
					</f:then>
					<f:else>
						<f:if condition="{rowIterator.isLast}">
							<f:if condition="{data.table.useFooter}">
								<f:then>
									</tfoot>
								</f:then>
								<f:else>
									</tbody>
								</f:else>
							</f:if>
						</f:if>
					</f:else>
				</f:if>

			</f:for>
		</table>
	</f:if>
</f:section>