{namespace ce=PatrickBroens\Contentelements\ViewHelpers}

<f:layout name="HeaderContentFooter" />

<f:section name="content">
	<f:if condition="{data.files}">
		<ul class="ce-uploads">
			<f:for each="{data.files}" as="file" iteration="fileIterator">
				<li>

					<f:if condition="{data.uploads_type} == 1">
						<f:image src="typo3/gfx/fileicons/{file.extension}.gif" alt=""/>
					</f:if>

					<f:if condition="{data.uploads_type} == 2">
						<f:if condition="{f:uri.image(src: 'file:{f:if(condition: file.originalFile, then: \'file:{file.originalFile.uid}\', else: \'file:{file.uid}\')}')} != '/'">
							<f:then>
								<a href="{file.publicUrl}">
									<f:image src="{file.uid}" treatIdAsReference="{f:if(condition: file.originalFile, then: '1', else: '0')}" width="150" alt="{file.properties.alternative}" />
								</a>
							</f:then>
							<f:else>
								<f:image src="typo3/gfx/fileicons/{file.extension}.gif" alt=""/>
							</f:else>
						</f:if>
					</f:if>

					<div>
						<f:if condition="{file.name}">
							<a href="{file.publicUrl}">
								<span class="ce-uploads-fileName">
									{file.name}
								</span>
							</a>
						</f:if>

						<ce:if condition="{file.properties.description}" and="{0: '{data.uploads_description}'}">
							<span class="ce-uploads-description">
								{file.properties.description}
							</span>
						</ce:if>

						<f:if condition="{data.filelink_size}">
							<span class="ce-uploads-fileSize">
								<f:format.bytes value="{file.properties.size}" />
							</span>
						</f:if>
					</div>

				</li>
			</f:for>
		</ul>
	</f:if>
</f:section>